div.container {
  margin: 0 auto;
  padding: 20px;
  width: 400px;
}
div.container form .input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  div.container {
    width: 100%;
  }
}
input,
label {
  padding: 5px;
}

span {
  color: red;
  font-size: 14px;
}
